body {
    overflow: auto;
    margin: 0;
    background-color: rgb(170, 217, 255);
}
header {
    padding: 1em;
    border-bottom: 4px solid rgb(255, 187, 0);
    background-color: rgb(170, 217, 255);
}
.mainlogo {
    display: block;
    float: left;
    font-size: 1.2em;
}
header ul {
    padding: 0;
    margin: 0em 7em 0em 30em;
}
header ul li {
    display: inline-block;
    margin-right: 20px;
}
header ul li img {
    width: 1.5em;
    vertical-align: text-top;
}
header a {
    text-decoration: none;
    color: cornflowerblue;
}
header a:hover {
    text-decoration: underline;
}

aside nav {
    background-color: white;
    padding: 0em 4em 0em 0em;
    float: left;
}
aside ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
aside a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 0px 5px 0px;
    margin-bottom: 4px;
}
aside a:hover {
    text-decoration: none;
    color: rgb(0, 111, 111);
    text-decoration: underline;
}
article {
    background-color: rgb(255, 255, 249);
    margin: 0px 0px 0px 150px;
    padding: 2em;
}

.codediv {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-left: 4px solid rgb(191, 191, 191);
    border-top: 4px solid rgb(191, 191, 191);
    margin-left: 2em;
    margin-right: 10em;
    box-shadow: 10px 10px rgba(106, 158, 201, 0.297);
}
.language-html {
    background-color: white !important;
}
#biaoji {
    border: 2px solid red;
}
footer {
    padding: 1em;
    margin-top: 4px;
    background-color: bisque;
    text-align: center;
}
footer p {
    display: inline-block;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 1em;
}
